body { 
  margin: 0;
  padding: 0;
}

.playArea {
	position: absolute;
	top: 0;
	left: 0;
}

span, a {
	font-family: Helvetica;
	font-size: 18pt;
	color: black;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;	/* // http://stackoverflow.com/questions/4919076/outline-effect-to-text */
}

.header {
	position: absolute;
	margin-left: 10%;
	top: 0;
	left: 0;
}

.title, .title a {
	font-size: 54pt;
}

.title a, a {
	text-decoration: none;
	color: black;
}

.author {
	font-size: 8pt;
}

.gameInfo {
	position: absolute;
	right: 10%;
	top: 25px;
}

.gameControls {
	position: relative;
	margin: auto;
	margin-top: 29px;
	padding: 0;
	vertical-align: middle;
	display: block;
	width: 170px;
	font-size: 13pt;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;	/* // http://stackoverflow.com/questions/4919076/outline-effect-to-text */ 	
}

.gameControls a {

}

.gameControls input, .gameControls a {
	display: inline;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 13pt;
	padding: 0 5px;
	border-left: 1px solid lightgrey;
}

.gameControls .first { /* change to (nth)-child or whatever */
	/* padding-left: 0; */
	border-left: 0;
}

.gameControls .selected {
	text-decoration: underline;
}

#singlePlayerButton {
	color: lightgrey;
}

.turn {
	float: right;
	padding-right: 5px;
	border-right: 1px solid lightgrey;
	margin-right: 5px;
	text-align: right;
}

.instructions {
	float: right;
/*	background-image: url(help.svg#svg_4);
	background-size: contain;
	min-width: 1em;
	min-height: 1em;*/
	-webkit-filter: drop-shadow( -1px -1px 0px #FFF )
					drop-shadow( 1px -1px 0px #FFF )
					drop-shadow( -1px 1px 0px #FFF )
					drop-shadow( 1px 1px 0px #FFF );
            filter: drop-shadow( -1px 1px 0px #FFF )
					drop-shadow( 1px -1px 0px #FFF )
					drop-shadow( -1px 1px 0px #FFF )
					drop-shadow( 1px 1px 0px #FFF );            
}

.instructions a {
}

.instructions a:hover {
	-webkit-filter: drop-shadow( 0px 0px 1px #FE0 );
            filter: drop-shadow( 0px 0px 1px #FE0 );
    cursor: pointer;
}

.turn .player.red, .player.red {
	color: red;
}

.turn .player.blue, .player.blue {
	color: blue;
}

div#message {
	position: relative;
	width: 80%;
	max-width: 600px;
	height: 80%; 
	margin: auto;
	margin-top: 5%;
	padding: 10px;
	vertical-align: middle;
	background-color: white;
	box-shadow: 0 0 1em black;
}

div#message p {
	margin: 5px;
	display: block;
}

div#message .close {
	display: block;
	position: relative;
	float: right;
	font-family: Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 13pt;
	text-decoration: none;
	color: black;
	text-align: center;
	vertical-align: middle;
}

div#message .close::before {
	content: "";
	display: block;
	border: 2px solid black;
	position: relative;
	float: right;
	font-family: Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 13pt;
	text-decoration: none;
	color: black;
	top: 10px;
	right: 15px;
	height: 15px;
	top: -1px;
	width: 15px;
} 

/* http://stackoverflow.com/questions/526035/html-css-positioning-float-bottom */
div#chatWindow {
	position: absolute;
	display: table;
	table-layout: fixed;	
	border-collapse: collapse;
	bottom: 1em;
	left: 0;
	max-height: 1em;
	max-width: 300px;
	overflow: hidden;
	text-overflow: clip;
	font-size: 13pt;	
}

#chatWindow .row {
	display: table-row;
	vertical-align: bottom;
	font-size: 13pt;
	bottom: 0;
}

#chatWindow .player {
	display: inline;
	font-size: 13pt;
}

#chatCursor {
	position: absolute;
	font-size: 13pt;	
	left: 0;
	bottom: 0;
}

#chatInput {
	position: absolute;
	font-size: 13pt;
	height: 1em;
	padding: 0;
	margin: 0;
	border: 0;
	left: 1em;
	bottom: 0;
}

/* http://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome */
/* I should say, I am not citing every bit of code I use, just when I think about it. This one is kind of
   minor, but there are lots of other minor bits that aren't cited. */
#chatInput:focus {
	outline: 0;	
}